<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.carrotpop.ex.mapper.UsersMapper">
    <select id="getUser" resultType="com.kdt.carrotpop.ex.vo.UsersVO">
        <![CDATA[
        	select * from users where userid = #{userid}
        ]]>
    </select>
    <select id="getUserAuthority" resultType="com.kdt.carrotpop.ex.vo.CppGrantedAuthority">
        <![CDATA[
        	select users.userid, users.password, authority.role from users, authority where users.userid = authority.userid and users.userid = #{userid} order by authority.role desc
        ]]>
    </select>
    
    
    

    <insert id="insertUser">
        <![CDATA[
			insert into users values (
			    #{userid},
			    #{password},
			    #{nickname},
			    #{postcode},
			    #{address},
			    #{addressmore}
			)
		]]>
    </insert>
    <insert id="insertAuthority">
        <![CDATA[
			insert into authority values (
			    #{userid},
			    #{role}
			)
		]]>
    </insert>
    
    
    <select id="selectAuthorityList" resultType="com.kdt.carrotpop.ex.vo.AuthorityVO">
        <![CDATA[
        	select * from authority where userid = #{userid}
        ]]>
    </select>
    
    
    <select id="selectItemcategoryList" resultType="com.kdt.carrotpop.ex.vo.ItemcategoryVO">
        <![CDATA[
        	select * from itemcategory
        ]]>
    </select>    
    
<!--     
ITEMID         NOT NULL NUMBER(19)     
SELLERID       NOT NULL VARCHAR2(14)   
TITLE          NOT NULL VARCHAR2(100)  
PRICE          NOT NULL NUMBER(10)     
CATEGORYNUMBER NOT NULL NUMBER(2)      
UPLOADTIME     NOT NULL DATE           
CONTENT        NOT NULL VARCHAR2(4000) 
HIT            NOT NULL NUMBER(19)    
-->  

    <insert id="insertItem">
        <![CDATA[
			INSERT INTO item VALUES (
			    item_sequence.nextval,
			    #{sellerid},
			    #{title},
			    #{price},
			    #{categorynumber},
			    sysdate,
			    #{content},
			    0,
			    #{howmanyimgs}
			)
		]]>
    </insert>
<!-- 
ITEMID     NOT NULL NUMBER(19) 
ORDERINDEX NOT NULL NUMBER(2)      
-->
<!--     <insert id="insertPicture">
        <![CDATA[
			INSERT INTO picture VALUES (
			    item_sequence.currval,
			    #{orderindex}
			)
		]]>
    </insert> -->
    
    <select id="selectItemidMax" resultType="java.lang.Long">
        <![CDATA[
        	select max(itemid) from item
        ]]>
    </select>    
    
    
</mapper>