<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kdt.carrotpop.ex.mapper.UserMapper">
    <select id="getUser" resultType="com.kdt.carrotpop.ex.vo.UserAuthorityVO">
        <![CDATA[
        	select * from t_users where user_id = #{username}
        ]]>
    </select>
    
    <insert id="insertUser">
        <![CDATA[
			insert into t_users values (
			    #{rank},
			    #{user_id},
			    #{pwd},
			    #{name},
			    #{birth},
			    #{tel},
			    #{store_name},
			    #{open_date},
			    #{store_visit},
			    #{sale_num},
			    #{delivery_num},
			    #{image},
			    #{follower},
			    #{following},
			    #{good_num},
			    #{introduction}
			)
		]]>
    </insert>
</mapper>